.nav{
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  text-align: center;
  background: rgba(0,0,0,.95);
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  display: table;
  opacity:0;
}
.nav.open{
  opacity:1;
  width: 100%;
  height: 100%;
}
.nav ul{
  list-style: none;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.nav ul li {
  display: block;

}
.nav ul li a{
  position: relative;
  display: inline-block;
  font-weight: 400;
  padding: 1vmax 2vmax;
  color: #F3F3F3;
  transition: 0.5s;
  -webkit-transition:0.5s;
  overflow: hidden;
  z-index: -1;
  font-size: 1px;
}
.nav.open ul li a{
  z-index: 99;
  font-size: 2vmax;
}
.nav ul li a::before {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98%;
  height: 0.2vmax;
  border-bottom: 0.2vmax solid transparent;
  border-left: 0.2vmax solid transparent;
}
.nav ul li a::after {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 0.2vmax;
  border-top: 0.2vmax solid transparent;
  border-right: 0.2vmax solid transparent;
}
.nav ul li a:hover::before {
  transition: .1s transform linear, .1s height linear .1s;
  -webkit-transition: .1s transform linear, .1s height linear .1s;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  height: 100%;
  border-color: rgba(243, 243, 243, 0.9);
}
.nav ul li a:hover::after {
  transition: .1s transform linear .2s, .1s height linear .3s;
  -webkit-transition: .1s transform linear .2s, .1s height linear .3s;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  height: 100%;
  border-color: rgba(243, 243, 243, 0.9);
}

/* Burger Styles */
.burger{
  position: absolute;
  display: block;
  width: 2vmax;
  right: 5vmin;
  top: 5vmin;
  cursor: pointer;
  z-index: 100;
}
.burger:hover{
  cursor: pointer;
}
.burger span {
  display: block;
  position: absolute;
  height: 0.3vmax;
  width: 50%;
  background: #37383A;
  z-index: 101;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.burger span:nth-child(even) {
  right: 0;
}

.burger span:nth-child(odd) {
  left:0px;
}

.burger span:nth-child(1), .burger span:nth-child(2) {
  top: 0px;
}

.burger span:nth-child(3), .burger span:nth-child(4) {
  top: 0.6vmax;
}

.burger span:nth-child(5), .burger span:nth-child(6) {
  top: 1.2vmax;
}

.burger.open span {
  background: #F3F3F3;
}

.burger.open span:nth-child(1),.burger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger.open span:nth-child(2),.burger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger.open span:nth-child(1) {
  left: 0.2vmax;
  top: 0;
}

.burger.open span:nth-child(2) {
  right: 0.2vmax;
  top: 0;
}

.burger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.burger.open span:nth-child(4) {
  right: -50%;
  opacity: 0;
}

.burger.open span:nth-child(5) {
  left: 0.2vmax;
  top: 0.6vmax;
}

.burger.open span:nth-child(6) {
  right: 0.2vmax;
  top: 0.6vmax;
}
