/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i'); */

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
*::-moz-selection{
  background: #37383A;
  color: #f3f3f3;
}
*::selection{
  background: #37383A;
  color: #f3f3f3;
}
html, body{
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  /*background: #12649B;*/
}
a{
  text-decoration: none;
  outline: 0;
}
.slide{
  width: 100%;
  padding-right: 20px;
}
.launch-div{
  height: 100%; /* for ff */
  min-height: 100%;
  display: table;
  color: #37383A;
  border-collapse:collapse;
  position: relative;
  z-index: 91;
}
.launch-row{
  display: table-row;
}
.launch-img{
  width: 30%;
  display: table-cell;
  vertical-align: bottom;
  padding: 0;
  margin:0;
}

.launch-img img{
  display: block;
  width: 100%;
  margin: 0;
}
.launch-text{
  width: 70%;
  display: table-cell;
  vertical-align: middle;
}
.launch-text h2{
  font-weight: 400;
  font-size: 1.1vmax;  /*16px fro 1366*/
}
.launch-text h1{
  font-weight: 700;
  font-size: 2.6vmax; /* 26px fro 1366 */
  margin: .5em 0px;
}
.launch-text h1 .highlight{
  background: #37383A;
  color: #F3F3F3;
  padding: 0.5vmax 1vmax;
}
.about-div{
  position:relative;
  background: #ceb640;
  background: -webkit-linear-gradient(bottom left, #ceb640 0%, #76aeae 100%);
  background: -o-linear-gradient(bottom left, #ceb640 0%, #76aeae 100%);
  background: linear-gradient(to top right, #ceb640 0%, #76aeae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceb640', endColorstr='#76aeae',GradientType=1 );
  overflow: hidden;
  padding: 6vmin;
  z-index: 92;
}
/* for paint effect
.about-div::before{
  position: absolute;
  top:-1vmin;
  left:0;
  width: 100%;
  height: 12vmax;
  content: '';
  background: url(overlay.png);
  background-size: contain;
}*/
.about-div h1{
  position: absolute;
  font-weight: 400;
  font-size: 20vmax;
  top: -6vmax;
  left: -6vmax;
  padding: 0;
  line-height: 20vmax;
  opacity: .6;
}
.about-div div.paras{
  margin: 14vmax auto 7vmax;
}
.about-div a{
  font-weight: 700;
  color: #F3F3F3;
  text-decoration: none;
}
.about-div a:hover{
  text-decoration: underline;
}
.about-div h2{
  width: 70%;
  margin: auto;
  font-size: 1.5vmax;
  text-align: left;
  padding: 1.5vmax;
}
.about-div p,
.about-div ul{
  width: 60%;
  margin: auto;
  font-size: 1.1vmax;
  text-align: justify;
  padding: 1.1vmax;
}
.about-div p .strikeIt{
  text-decoration: line-through;
  font-style: italic;
}
.works-div{
  position: relative;
  top:0;
  background: #2b1f2b;
  color: #F3F3F3;
  height: 100%;
  z-index: 91;
  text-align: left;
}
.works-div h1{
  position: relative;
  font-weight: 400;
  font-size: 2.6vmax;
  color: #F3F3F3;
  padding: 5.2vmax 1.5vmax 1vmax;
  display: inline-block;
  top: 0;
  left:0;
  text-align: left;
  border-bottom: solid 1vmax #AE3445;
}

/*== Mobile css == all sizes in px ==*/
@media screen and (max-width: 1024px), screen and (max-device-width: 1024px) {
  .launch-div{
    background: #F3F3F3 url('bg1-mobile.jpg') no-repeat;
    background-size: cover;
  }
  .launch-img{
    display: none;
  }
  /*.launch-img{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 95%;
    z-index: 91;
    opacity: 0.3;
    overflow: hidden;
  }
  .launch-img img{
    height: 100%;
    width: auto;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }*/
  .launch-text{
    position: relative;
    width: 100%;
    padding: 20px;
    z-index: 94;
    text-align: center;
  }
  .launch-text h1{
    font-size: 2em;
  }
  .launch-text h2{
    font-size: 1.2em;
  }
  .about-div h1{
    font-size: 13.5vmax;
    top: -4vmax;
    left: -4vmax;
    line-height: 13.5vmax;
  }
  .about-div div.paras{
    margin: 10vmax auto 5vmax;
  }
  .about-div h2{
    font-size: 1.5em;
    width: 100%;
    padding: 10px;
  }
  .about-div p,
  .about-div ul{
    font-size: 1em;
    width: 100%;
    text-align: left;
    padding: 10px;
  }
  .works-div h1{
    font-size: 1.5em;
    color: #F3F3F3;
    padding: 1em;
    left:0;
    text-align: left;
    border-bottom: solid 10px #AE3445;
  }
}
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
  .launch-text{
    vertical-align: top;
    padding-top: 30vh;
  }
  .launch-text h1{
    font-size: 1.6em;
  }
  .launch-text h2{
    font-size: 1em;
  }
  .about-div h1{
    font-size: 12vmax;
    top: -3vmax;
    left: -3vmax;
    line-height: 12vmax;
  }
  .about-div p,
  .about-div ul{
    font-size: .9em;
  }
}
