@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
*::-moz-selection{
  background: #37383A;
  color: #f3f3f3;
}
*::selection{
  background: #37383A;
  color: #f3f3f3;
}
html, body{
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  /*background: #12649B;*/
}
a{
  text-decoration: none;
  outline: 0;
}
.slide{
  width: 100%;
  min-height: 100%;
  padding-right: 20px;
}
.launch-div{
  height: 100%; /* for ff */
  display: table;
  color: #37383A;
  border-collapse:collapse;
}
.launch-row{
  display: table-row;
}
.launch-img{
  width: 30%;
  display: table-cell;
  vertical-align: bottom;
  padding: 0;
  margin:0;
}

.launch-img img{
  display: block;
  width: 100%;
  margin: 0;
}
.launch-text{
  width: 70%;
  display: table-cell;
  vertical-align: middle;
}
.launch-text h2{
  font-weight: 400;
  font-size: 1.1vmax;  /*16px fro 1366*/
}
.launch-text h1{
  font-weight: 700;
  font-size: 2.6vmax; /* 26px fro 1366 */
  margin: .5em 0px;
}
.launch-text h1 .highlight{
  background: #37383A;
  color: #F3F3F3;
  padding: 0.5vmax 1vmax;
}
.about-div{
  background: #ceb640;
  background: -webkit-linear-gradient(bottom left, #ceb640 0%, #76aeae 100%);
  background: -o-linear-gradient(bottom left, #ceb640 0%, #76aeae 100%);
  background: linear-gradient(to top right, #ceb640 0%, #76aeae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceb640', endColorstr='#76aeae',GradientType=1 );
}
.works-div{
  background: #37383A;
  color: #F3F3F3;
}
